body {
  font-family: Arial;
  color-scheme: dark;
  background-color: #414141;
  color: #ffffff;
}

ul {
  width: max-content;
  z-index:1000000;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: list-item;
  color: white;
  text-align: center;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
.center {
  text-align: center;
}

p {
  color: rgb(75, 75, 75);
}

.container {
  background-color: rgb(219, 219, 219);
  border-radius: 5%;
}

#Progress_Status {
  align-content: center;
  align-self: center;
  vertical-align: middle;
  background-color: rgb(179, 179, 179);
  border-radius: 15%;
}

#myprogressBar {
  background-color: #4caf50;
  text-align: center;
  color: black;
}



* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

input {
  text-align: center;
  background-color: #e2e2e2;
  transition: border 0.5s;
  border-radius: 5%;
}

input:hover {
  background-color: #c9c9c9;
}

.dropdown {
  text-align: center;
  background-color: #e2e2e2;
  transition: border 0.5s;
  border-radius: 5%;
}

.dropdown:hover {
  background-color: #c9c9c9;
}

.btn {
  background: #3498db;
  color: #ffffff;
  text-decoration: none;
  text-shadow: none;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  border-radius: 2%;
}

.btn:hover {
  background-color: #2980b9;
}

.btn:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.col{
  display:table-column;
}

.error {
  color: red;
  text-align: center;
}
