body {
  font-family: Arial;
  color-scheme: dark;
  background-color: #414141;
  color: #ffffff;
  padding: 50px;
}

ul {
  width: max-content;
  z-index:1000000;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.normal-text {
  font-size: 18px;
}
.title {
  font-size: 24px;
}

.center {
  width: 100%;
  text-align: center;
}

p {
  font-size: 20px;
  color: rgb(75, 75, 75);
}

.container {
  background-color: rgb(219, 219, 219);
  width: 100%;
  border-radius: 15px;
}

#Progress_Status {
  width: 80%;
  align-content: center;
  align-self: center;
  vertical-align: middle;
  background-color: rgb(179, 179, 179);
}

#myprogressBar {
  height: 35px;
  background-color: #4caf50;
  text-align: center;
  line-height: 32px;
  color: black;
}



* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

input {
  text-align: center;
  background-color: #e2e2e2;
  border: 2px solid transparent;
  border-radius: 15px;
  font-size: 16px;
  font-weight: 200;
  padding: 10px 0;
  width: 250px;
  transition: border 0.5s;
}

input:hover {
  background-color: #c9c9c9;
}

.dropdown {
  text-align: center;
  background-color: #e2e2e2;
  border: 2px solid transparent;
  border-radius: 15px;
  font-size: 16px;
  font-weight: 200;
  padding: 10px 0;
  width: 250px;
  transition: border 0.5s;
}

.dropdown:hover {
  background-color: #c9c9c9;
}

.btn {
  border: 2px solid transparent;
  background: #3498db;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 250px;
  margin: 0 auto;
}

.btn:hover {
  background-color: #2980b9;
}

.btn:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.col{
  display:table-column;
}

.error {
  color: red;
  text-align: center;
}
