<!DOCTYPE html>
<html lang="en">

<head>
    <title>school remaining</title>
    <meta charset="UTF-8" />
    <meta name="viewport" , content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="static/styles.css" />
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
    <title>homepage</title>
</head>

<body>
    {% extends "navbar.html" %}
    {% block content %}
    <div class="container">
        <h1 class="cener" style="color: dimgrey;">Homepage</h1>
        <div>
            <h2 class="center">logged in as {{loggedas}}</h2>
            <div class="normal-text">
            </div>
            <br>
            <div class="center">
                <p>hour based progressbar</p>
                <p>{{text1}}</p> 
                <div id="Progress_Status">
                    <div id="myprogressBar"
                        style="height: 35px; background-color: #4caf50; text-align: center; line-height: 32px; color: black; width: {{ width1 }}%;">
                    </div>
                </div>
            </div>
            <br>
            <div class="center">
                <p>courses based progressbar</p>
                <p>{{text2}}</p> 
                <div id="Progress_Status">
                    <div id="myprogressBar"
                        style="height: 35px; background-color: #4caf50; text-align: center; line-height: 32px; color: black; width: {{ width2 }}%;">
                    </div>
                </div>
            </div>
            <br>
        </div>
        {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
            {% endif %}
    </div>
</body>

</html>
{% endblock %}