<html>
<head>
    <title>login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css" />
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
</head>
<body>
    {% extends "navbar.html" %}
    {% block content %}
    <div class="container">
        <h1 class="cener" style="color: dimgrey;">Please login</h1>
        <br>
        <form action="" method="post" class="login-form center">
            <input class="col" type="text" placeholder="Username" name="username" value="{{request.form.username }}">
            <input class="col" type="password" placeholder="Password" name="password" value="{{request.form.password }}">
            <input class="btn btn-default" type="submit" value="Login">
        </form>
        {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
            {% endif %}
    </div>
</body>
</html>
{% endblock %}