<html>

<head>
    <title>logout page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css" />
	<link rel="stylesheet" href="{{css }}" />
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
</head>

<body>
    {% extends "navbar.html" %}
    {% block content %}
    <div class="container">
        <h1 class="center" style="color: darkgreen;">you have been logged out</h1>
    </div>
</body>

</html>
{% endblock %}